{% extends '@Contao/block_searchable' %}

{% block content %}

    <div class="row">
        {% for employee in employees %}
            <div class="employee-list-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    {% if employee.href %}<a href="{{ employee.href }}">{% endif %}
                        {% if employee.hasImage %}
                            {{ employee.figure|raw }}
                        {% endif %}
                    {% if employee.href %}</a>{% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ employee.firstname }} {{ employee.lastname }}</h5>
                        <p class="card-text">{{ employee.email }}</p>
                        <p class="card-text">{{ employee.phone }}</p>
                        {% if employee.href %}
                            <p class="card-text"><a href="{{ employee.href }}">Mehr</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ parent() }}
{% endblock %}
